/* ============================================================
   RESET E CONFIGURAÇÕES GERAIS
   Não mexer aqui sem combinar com o grupo — é compartilhado por todo mundo.
============================================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-txt);
}

:root {
   --color-pink: #ee598d;
   --color-bege: #FFF3E4;
   --color-lightbege: #FFFDF9;
   --color-brown: #3B2416;
   --color-lightbrown: #513727;
   --shadow: #f1dec6;
   --fonte-txt: "Montserrat", sans-serif;
   --fonte-title: "Fredoka", sans-serif;
}

html {
   scroll-behavior: smooth;
}

.btn1 {
   border: 2px solid black;
   border-radius: 100px;
   box-shadow: 2px 2px 0px black;
   background-color: var(--color-pink);
   padding: 15px 25px;
   color: white;
   font-weight: bold;
   transition: .3s;
}

.btn1:hover {
   transform: translate(-4px, -4px);
   box-shadow: 5px 5px 0px black;
}

.btn2 {
   border: 2px solid var(--color-brown);
   border-radius: 100px;
   background-color: var(--color-bege);
   padding: 15px 25px;
   color: var(--color-brown);
   font-weight: bold;
   transition: .3s;
}

.btn2:hover {
   transform: translate(-4px, -4px);
   background-color: var(--color-brown);
   color: white;
   box-shadow: 8px 8px 0 var(--shadow);
}

p {
   font-size: 1.15rem;
   color: var(--color-brown);
   font-weight: 400;
}

.title {
   font-family: var(--fonte-title);
   color: var(--color-brown);
}

.section {
   background-color: var(--color-bege);
   padding: 120px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
   width: 100%;
}

/* ============================================================
   SEÇÃO 1 — CABEÇALHO / MENU
   Responsável: (Thiago)
   Dica: prefixe suas classes com algo tipo .cabecalho-... pra não
   bater com a classe de outra seção (ex: .cabecalho-logo, .cabecalho-menu)
============================================================= */
#cabecalho {

}


/* ============================================================
   SEÇÃO 2 — HOME
   Responsável: (Vitor Moret)
============================================================= */
#home.section {
   padding: 150px 30px 60px;
}

#home img {
   width: 100%;
   max-width: 600px;
}

.home-img {
   order: 2;

}

#home-txtbtn {
   max-width: 100%;
   width: 500px;
}

.home-txtbtn {
   padding: 20px 0;
}

#home-title span {
   font-family: var(--fonte-titlte);
   color: var(--color-pink);
}

#home-title span, h1 {
   font-size: 3.3rem;;
}

#home-btn {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 15px;
}

#home .btn1, .btn2 {
   font-size: 18px;
}

@media (max-width: 920px) {
   #home {
      flex-direction: column;
      display: flex;
      gap: 30px;
   }
   
   #home img {
      max-width: 100%;
      width: 400px;
   }

   .home-img {
      order: 1;
   }

   #home-txtbtn {
      order: 2;
   }
}


/* ============================================================
   SEÇÃO 3 — SOBRE A DELICUP
   Responsável: (Vitor Ferrer)
============================================================= */
#sobre.section {
  background-color: var(--color-lightbeige);
  border-bottom: 2px solid var(--color-brown);
}

.carrossel-container {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.carrossel-img {
  background-image: url(../images/CupCake-image1.jpg);
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 500px;
  border: 2px solid var(--color-brown);
  border-radius: 20px;
}

.sobre-txt {
  width: 100%;
  max-width: 600px;
}

#sobre h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

@media (max-width: 920px) {
  #sobre {
    display: flex;
    flex-direction: column;
  }

  .carrossel-container {
    order: 2;
  }

  .sobre-txt {
    order: 1;
    text-align: center;
  }

  .sobre-img-container {
    width: 100%;
    max-width: 400px;
    height: 400px;
  }
}


/* ============================================================
   SEÇÃO 4 — PRODUTOS
   Responsável: (Vitória)
============================================================= */
#produtos.section {
   flex-direction: column;
}

.produtos-titulo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.produtos-titulo h2 {
   font-size: 2.5rem;
   padding-bottom: 20px;
}

.produtos-titulo p {
   width: 100%;
   max-width: 700px;
   text-align: center;
}

.produtos-card-container {
   display: flex;
   align-items: center;
}

.produtos-cards {
   display: flex;
   background-color: var(--color-lightbege);
   border: 2px solid var(--color-brown);
   border-radius: 25px;
   box-shadow: 8px 8px 0 var(--shadow);
   flex-direction: column;
   align-content: space-between;
   margin: 20px;
   padding: 20px;
   width: 100%;
   max-width: 400px;
   height: 400px;
   transition: .3s;
}

.produtos-cards:hover {
   transform: translate(-4px, -4px);
   box-shadow: 15px 15px 0 var(--shadow);
}

.produtos-img {
   background-image: url('../images/CupCake-image1.jpg');
   background-size: cover;
   background-position: center;
   border: 2px solid var(--color-brown);
   border-radius: 15px;
   width: 100%;
   height: 150px;
}

.produtos-cards .title {
   font-size: 1.5rem;
   padding-top: 20px;
}

.produtos-cards p {
   padding-top: 10px;
}

.produtos-cards h4 {
   padding: 20px 0px 10px;  
}

@media (max-width: 920px) {
   .produtos-titulo {
      text-align: center;
   }

   .produtos-card-container {
      flex-direction: column;
   }
}


/* ============================================================
   SEÇÃO 5 — DIFERENCIAIS
   Responsável: (Fernando)
============================================================= */
#diferenciais {
   background-color: var(--color-brown);
   color: var(--color-bege);
}

#diferenciais p {
   color: var(--color-bege);
}

#diferenciais h2, h3 {
   font-family: var(--fonte-title);
}

#diferenciais h2 {
   font-size: 2.5rem;
}

#diferenciais h3 {
   padding: 10px 0;
   font-size: 1.5rem;
}

#diferenciais.section {
   flex-direction: column;
}

.dif-container-card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 50px;
   max-width: 100%;
}

.dif-card {
   background-color: var(--color-lightbrown);
   border: 2px solid var(--color-bege);
   border-radius: 20px;
   max-width: 100%;
   width: 250px;
   padding: 20px;
}

.dif-card svg {
   display: block;
   width: 48px;
   height: 48px;
   margin-bottom: 12px;
   overflow: visible;
}

.dif-icon-fill path {
   fill: var(--color-pink);
}

.dif-icon-stroke path {
   fill: none;
   stroke: var(--color-pink);
}


@media (max-width: 1280px) {
   .dif-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 40px;
      width: 100%;
      max-width: 1000px;
   }

   .dif-container-card {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 60px;
   }

   .dif-card {
      width: 350px;
   }
}

@media (max-width: 768px) {
   .dif-container-card {
      display: flex;
      flex-direction: column;
   }
}


/* =========================================================
    SEÇÃO 6 - NOSSA HISTÓRIA
    Responsável: (João Morais)
========================================================= */
#nossa-historia {
    display: flex;
    flex-direction: column;
}

.nh-title {
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 40px;
}

.nh-title h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.nh-content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
}

.nh-content1 h3 {
    font-size: 2rem;
    font-family: var(--fonte-title);
    color: var(--color-pink);
}

.nh-content2 {
    display: flex;
    flex-direction: row;
}

.nh-cards {
    background-color: var(--color-lightbege);
    color: var(--color-pink);
    border: 2px solid var(--color-brown);
    border-radius: 20px;
    box-shadow: 8px 8px 0 var(--shadow);
    margin: 30px;
    padding: 20px;
    max-width: 400px;
    transition: .3s;
}

.nh-cards:hover {
    transform: translate(-4px, -4px);
    box-shadow: 15px 15px 0 var(--shadow);
}

.nh-cards h3 {
    padding: 10px 0;
    font-size: 1.2rem;
}

.nh-foot {
    text-align: center;
    max-width: 600px;
}

.nh-foot span {
    font-size: 1.2rem;
    font-weight: 500;
}

.nh-foot p {
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .nh-content1 {
        flex-direction: column;
        gap: 50px;
    }

    .nh-content2 {
        flex-direction: column;
    }
}
/* ============================================================
   SEÇÃO 7 — MISSÃO, VISÃO E VALORES
   Responsável: (João Paulo)
============================================================= */
#mvv.section {
   padding: 0;
}

.mvv-content {
   display: flex;
   justify-content: space-between;
}

.mvv-cards { 
   background-color: var(--color-lightbege);
   border: 2px solid var(--color-brown);
   border-radius: 20px;
   box-shadow: 8px 8px 0 var(--shadow);
   max-width: 400px;
   padding: 35px;
   margin: 30px;
   transition: .3s;
}

.mvv-cards:hover {
   transform: translate(-4px, -4px);
   box-shadow: 15px 15px 0 var(--shadow);
}

.mvv-cards h3 {
   color: var(--color-brown);
   font-size: 1.7rem;
   font-family: var(--fonte-title);
   padding-bottom: 10px;
}

.mvv-cards li {
   list-style: disc;
   padding-bottom: 8px;
}

.mvv-cards svg{
   display: block;
   width: 40px;
   height: 40px;
   margin-bottom: 8px;
   overflow: hidden;
}

.mvv-cards svg {
   display: block;
   width: 40px;
   height: 40px;
   margin-bottom: 8px;
   overflow: visible;
}

.mvv-icon path {
   fill: var(--color-pink);
}

@media (max-width: 1280px) {
   .mvv-content{
      flex-direction: column;
   }
   .mvv-cards {
      max-width: 600px;
   }

   .mvv-cards h3 {
      justify-self: center;
   }

   .mvv-cards svg {
      display: flex;
      justify-self: center;
      width: 70px;
      height: 70px;
   }
}
/* ============================================================
   SEÇÃO 8 — EQUIPE
   Responsável: (Cauã)
============================================================= */
#equipe.section {
   padding-top: 120px;
}

#equipe {
   display: flex;
   flex-direction: column;
}

.equipe-title {
   text-align: center;
}

.equipe-title h2 {
   font-size: 2.5rem;
   padding-bottom: 10px;
}

.equipe-content {
   display: flex;
   flex-direction: row;
}

.equipe-cards {
   background-color: var(--color-lightbege);
   border: 2px solid var(--color-brown);
   border-radius: 40px;
   box-shadow: 8px 8px 0 var(--shadow);
   margin: 10px;
   padding: 20px;
   max-width: 400px;
   justify-items: center;
   align-items: center;
   transition: .3s;
   text-align: center;
}

.equipe-cards:hover {
   box-shadow: 15px 15px 0 var(--shadow);
   transform: translate(-4px, -4px);
}

.equipe-cards img {
   display: flex;
   width: 100%;
   max-width: 200px;
   align-self: center;
}

.equipe-cards h3 {
   padding: 10px 0;
   font-size: 1.4rem;
}

.equipe-cards h4 {
   color: var(--color-pink);
   font-family: var(--fonte-title);
   font-size: 1.2rem;
   padding-bottom: 10px;
}

.equipe-content-img {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border: 2px solid var(--color-brown);
   border-radius: 30px;
   width: 100%;
   height: 200px;
}

#equipe-img1 {
   background-image: url(../images/FotoEquipe1.jpeg);
}

#equipe-img2 {
   background-image: url(../images/FotoEquipe2.jpeg);
}

#equipe-img3 {
   background-image: url(../images/FotoEquipe4.jpeg);
}

#equipe-img4 {
   background-image: url(../images/FotoEquipe3.jpeg);
}

@media (max-width: 1280px) {
   .equipe-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
   }
}

@media (max-width: 768px) {
   .equipe-content {
      grid-template-columns: repeat(1, 1fr);
   }
}


/* ============================================================
   SEÇÃO 9 — CONTATO / LOCALIZAÇÃO
   Responsável: (Thiago)
============================================================= */
#contato {
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(45deg, #ff50a1, #b58ce8);
   padding: 50px;
}

.contato-content {
   display: flex;
   flex-direction: row;
   gap: 50px;
   padding-top: 70px;
}

.contato-fc {
   color: white;
   max-width: 600px;
}

.contato-fc h2 {
   font-size: 3rem;
   color: white;
   padding-bottom: 30px;
}

.contato-fc p {
   color: white;
   padding-bottom: 30px;
}

.contato-fc li {
   padding-bottom: 20px;
   list-style: disc;
}

.contato-pedido {
   background-color: var(--color-lightbege);
   display: flex;
   flex-direction: column;
   border: 2px solid var(--color-brown);
   border-radius: 30px;
   padding: 30px;
   max-width: 500px;
}

#contato a {
   margin-top: 20px;
}

.contato-pedido .btn1, .btn2 {
   text-align: center;
}

.contato-pedido .btn2 {
   background-color: var(--color-brown);
   color: var(--color-lightbege);
}

.contato-pedido .btn2:hover {
   background-color: var(--color-lightbege);
   color: var(--color-brown);
}

.contato-pedido h3 {
   font-size: 2rem;
   padding-bottom: 20px;
}

@media (max-width: 768px) {
   .contato-content {
      flex-direction: column;
   }
}


/* ============================================================
   SEÇÃO 10 — RODAPÉ / FOOTER
   Responsável: (Thiago)
============================================================= */
#rodape {

}