/* ============================================================
   RESET E CONFIGURAÇÕES GERAIS
   Não mexer aqui sem combinar com o grupo — é compartilhado por todo mundo.
============================================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-txt);
}

:root {
   --color-pink: #ee598d;
   --color-bege: #FFF3E4;
   --color-lightbege: #FFFDF9;
   --color-brown: #3B2416;
   --color-lightbrown: #513727;
   --shadow: #f1dec6;
   --fonte-txt: "Montserrat", sans-serif;
   --fonte-title: "Fredoka", sans-serif;
}

html {
   scroll-behavior: smooth;
}

.btn1 {
   border: 2px solid black;
   border-radius: 100px;
   box-shadow: 2px 2px 0px black;
   background-color: var(--color-pink);
   padding: 15px 25px;
   color: white;
   font-weight: bold;
   transition: .3s;
}

.btn1:hover {
   transform: translate(-4px, -4px);
   box-shadow: 5px 5px 0px black;
}

.btn2 {
   border: 2px solid var(--color-brown);
   border-radius: 100px;
   background-color: var(--color-bege);
   padding: 15px 25px;
   color: var(--color-brown);
   font-weight: bold;
   transition: .3s;
}

.btn2:hover {
   transform: translate(-4px, -4px);
   background-color: var(--color-brown);
   color: white;
   box-shadow: 8px 8px 0 var(--shadow);
}

p {
   font-size: 1.15rem;
   color: var(--color-brown);
   font-weight: 400;
}

.title {
   font-family: var(--fonte-title);
   color: var(--color-brown);
}

.section {
   background-color: var(--color-bege);
   padding: 120px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
   width: 100%;
}

/* ============================================================
   SEÇÃO 1 — CABEÇALHO / MENU
   Responsável: (Thiago)
   Dica: prefixe suas classes com algo tipo .cabecalho-... pra não
   bater com a classe de outra seção (ex: .cabecalho-logo, .cabecalho-menu)
============================================================= */
#cabecalho {

}


/* ============================================================
   SEÇÃO 2 — HOME
   Responsável: (Vitor Moret)
============================================================= */
#home {

}


/* ============================================================
   SEÇÃO 3 — SOBRE A DELICUP
   Responsável: (Vitor Ferrer)
============================================================= */
#sobre {

}


/* ============================================================
   SEÇÃO 4 — PRODUTOS
   Responsável: (Vitória)
============================================================= */
#produtos {

}


/* ============================================================
   SEÇÃO 5 — DIFERENCIAIS
   Responsável: (Fernando)
============================================================= */
#diferenciais {

}


/* ============================================================
   SEÇÃO 6 — NOSSA HISTÓRIA
   Responsável: (João Morais)
============================================================= */
#nossa-historia {

}


/* ============================================================
   SEÇÃO 7 — MISSÃO, VISÃO E VALORES
   Responsável: (João Paulo)
============================================================= */
#mvv {

}


/* ============================================================
   SEÇÃO 8 — EQUIPE
   Responsável: (Cauã)
============================================================= */
#equipe {

}


/* ============================================================
   SEÇÃO 9 — CONTATO / LOCALIZAÇÃO
   Responsável: (Thiago)
============================================================= */
#contato {

}


/* ============================================================
   SEÇÃO 10 — RODAPÉ / FOOTER
   Responsável: (Thiago)
============================================================= */
#rodape {

}